{# templates/personne/edit.html.twig #}
{% extends 'layout.html.twig' %}

{% block corps %}
    <article>
	<header>
	    <h1>{{ action }} une personne</h1>
	</header>
	<section>
	    <form method="post" action="personneEdit">	    
		<div class="form-group" style="display:{{ displayId }};">
		    <label for="id_pers">id:</label>
		    <input type="number" class="form-control" id="id_pers" placeholder="N° ID" name="id_pers"  value="{{ pers.id }}" readonly >
		</div>
		<div class="form-group">
		    <label for="prenom">Prénom:</label>
		    <input type="text" class="form-control" id="prenom" placeholder="Prénom" name="prenom" value="{{ pers.getPrenom }}">
		</div>
		<div class="form-group">
		    <label for="nom">Nom:</label>
		    <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom"  value="{{ pers.getNom|upper }}" required="true">
		</div>
		<button type="submit" class="btn btn-primary">{{ action }}</button>
	    </form>
	</section>
    </article>
{% endblock %}
