{# templates/personne/showAll.html.twig #}
{% extends 'layout.html.twig' %}

{% block corps %}
    <article>
	<header>
	    <h1>Liste des personnes</h1>
	</header>
	<section>
	    <table class="striped sortable">
		<thead>
		    <tr><th>Id</th><th>Prénom</th><th>Nom</th><th></th><th></th></tr>
		</thead>
		<tbody>
		    {% for pers in personnes %}
			<tr>
			    <td>{{ pers.id }}</td>
			    <td>{{ pers.getPrenom }}</td>
			    <td>{{ pers.getNom|upper }}</td>
			    <td><img src="public/img/edit.png" onclick="location.href = 'personneEdit?id={{ pers.id }}'" /></td>
			    <td><img src="public/img/cross.png" onclick="location.href = 'personneDelete?id={{ pers.id }}'" /></td>
			</tr>
		    {% endfor %}
		</tbody>
	    </table>
	    <p><a href="personneEdit">Ajouter une personne</a></p>
	</section>
    </article>
{% endblock %}
