h1 {
    color: #cc0000;
}

#header {
    border-bottom-color: blue;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

#navigation {
    background-color: #cc0000;
    color: lightgrey;
}
#navigation a {
    color: whitesmoke;
    font-weight: bold;
}

#footer {
    border-top-color: gray;
    border-top-width: 3px;
    border-top-style: solid;
}
#corps table {
	border : solid 1px;
	margin : auto;
	margin-bottom : 10px;
	background-color : white;
	color : black;
	font : 0.8em "Arial";
    border-color: #e44d26;
    border-collapse: collapse;
    border-width: 2px;
}

#corps td {
	border-bottom: solid 1px;
	padding : 5px;
    border-color: #e44d26;
}

#corps th {
	border : solid 1px;
	padding : 5px;
    border-color: #e44d26;
    background-color: #e44d26;
    color: white;
	font : 1em "Arial";
	font-weight: bold;
}

#corps table.striped tr.alt{background:#FFE4C4;}

.pre.prettyprint{
    background-color: #dddddd;
}