{# templates/default/default.html.twig #}
{% extends 'layout.html.twig' %}

{% block corps %}
{{ dump() }}
<article>
    <header>
	<h1>Bienvenu sur DemoPhalnTwig</h1>
	<p>Présentation du modèle MVC.</p>
    </header>
    <section>
	    <h1>Pour quoi faire?</h1>
	    <p>{{ message }}</p>
	    <h2>M ?</h2>
	    <p>La couche Model est basée sur 2 classes:</p>
	    <ul>
		<li>une entity qui reprend une table</li>
		<li>un repository qui manipule la table et ses entitées</li>
	    </ul>
	    <h2>V ?</h2>
	    <p>La couche view est celle de présentation, c'est à dire l'ihm.</p>
	    <p>Ici, elle utilise le moteur de template Twig (sans Symfony...).</p>
	    <h2>C ?</h2>
	    <p>La couche Controller est la logique de l'application. Elle manipule des entitées via les repositories et génère la view.</p>
	    <p>Un Controller est une classe contenant des Actions, c'est à dire des méthodes exécutable depuis une "route".</p>
	    <h2>Routage ?</h2>
	    <p>La ré-écriture d'url (URL Rewriting) est mis en place pour avoir des URLs "propres".</p>
	    <p>Le fichier public/index.php est le seul à être accessible. Il utilise un "routeur" pour rediriger la "route" de l'url vers une action d'un controller.</p>
    </section>
    <section>
	    <h1>Le modèle de données</h1>
	    <p>Voici le modèle, simpliste, de la base de données de cette démonstration. <img src="public/img/modeleBdd.png" style="max-width: 100%;" /></p>
    </section>
</article>
{% endblock %}
