{# templates/default/default.html.twig #}
{% extends 'layout.html.twig' %}

{% block corps %}
<article>
    <section>
	<h1>Erreur!</h1>
	<p>{{ message }}</p>
    </section>
</article>
{% endblock %}
