{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>	
    <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
	{% include 'motif.html.twig' %}
	<h1>First Twig Template</h1>
	<p>Le nombre est {{ number }}</p>
	{{ dump() }}
	<p>{{ session.user.getNom }}</p>
	{% for e in etat %}
	    <p>Etat: {{ e }}</p>
	{% endfor %}
    </body>
</html>
