{# templates/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Démo Phaln & Twig{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="public/css/normalize.min.css"/>
    <link rel="stylesheet" href="public/css/kickstart.css" media="all" /> <!-- KICKSTART -->
    <link rel="stylesheet" href="public/css/main.css"/>
    <link rel="stylesheet" href="public/css/styles_1.css"/>
{% endblock %}

{% block javascriptsHead %}
    <script src="public/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="public/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="public/js/jquery.globalize.min.js"></script>
    <script src="public/js/ej.web.all.min.js"></script>
    <script src="public/js/properties.js"></script>
{% endblock %}  

{% block header %}
    <h1 class="title"><img src="public/img/logoPhaln.png" style="max-width: 200px;">&nbsp;DEMO PROJET WEB</h1>
    {% include 'menu.html.twig' %}
{% endblock %}

	{% block body %}
        <div class="main-container">
            <div class="main wrapper clearfix">
		<div id="corps">
	            {% block corps %}{% endblock %}
		</div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->
{% endblock %}

{% block footer %}
    <table>
	<tr>
	    <td><h4>For SNIR by PhAln.info</h4></td>
	    <td style="text-align: right"></td>
	</tr>
    </table>
{% endblock %}

{% block javascriptsFoot %}
    <script src="public/js/kickstart.js"></script> <!-- KICKSTART -->
    <script src="public/js/main.js"></script>
{% endblock %}
