{# empty Twig template #}
<nav>
    <ul>
	<li><a href="{{ urlBase }}">Accueil</a></li>
	<li><a href="{{ urlBase }}personneShowAll">Personnes</a></li>
	<li><a href="{{ urlBase }}ouvrages">Ouvrages</a></li>
    </ul>
</nav>
