{# templates/livre/showAll.html.twig #}
{% extends 'layout.html.twig' %}

{% block corps %}
    <article>
	<header>
	    <h1>Liste des ouvrages</h1>
	</header>
	<section>
	    <table class="striped sortable">
		<thead>
		    <tr><th>Id</th><th>Titre</th><th>Année</th><th>Auteur(s)</th></tr>
		</thead>
		<tbody>
		    {% for ouvr in ouvrages %}
			<tr>
			    <td>{{ ouvr.getId }}</td>
			    <td>{{ ouvr.getTitre }}</td>
			    <td>{{ ouvr.getAnnee }}</td>
			    <td>{% for aut in ouvr.getAuteurs %}
				    {{ aut.getPersonne.getNom }}
				    {% if not loop.last %}
					,&nbsp;
				    {% endif %}
				{% else %}
				    Pas d'auteur identifié.
				{% endfor %}
			    </td>
			</tr>
		    {% endfor %}
		</tbody>
	    </table>
	</section>
    </article>
{% endblock %}
